<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.boot.model.mapper.ProductMapper">

	<insert id="insert" parameterType="com.ssafy.boot.model.dto.Product">
		INSERT INTO tproduct(pcode, pname, pquantity) 
		VALUES(#{code},#{name},#{quantity})
	</insert>

<!-- 	<select id="select" parameterType="String" resultType="com.ssafy.boot.model.dto.Product"> -->
<!-- 		SELECT pcode as code, pname as name, pquantity as quantity -->
<!-- 		FROM tproduct -->
<!-- 		WHERE pcode = #{pCode} -->
<!-- 	</select> -->

	<select id="selectAll" resultType="com.ssafy.boot.model.dto.Product">
		SELECT pcode as code, pname as name, pquantity as quantity
		FROM tproduct
	</select>

</mapper>